<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>to schmu - for all the schmu you gotta do</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button (click)="authService.logOut()">Logout</ion-button>

    <ion-list>
        <ion-list-header>
            ToDos
        </ion-list-header>

        <div *ngIf="todoService.todos.length > 0 else empty">
            <ion-item-sliding *ngFor="let todo of todoService.todos">
                <ion-item [disabled]=todo.erledigt>
                    <!--<ion-avatar slot="start">
                        <img alt="{{todo.autor.nutzername}}" src="{{todo.autor.profilbild}}">
                    </ion-avatar>-->

                    <ion-label>
                        <h2 [class.done]="todo.erledigt">{{todo.titel}}</h2>
                        <h4>{{todo.kategorie}}</h4>
                        <p>{{todo.beschreibung}}</p>
                    </ion-label>
                    <ion-badge (click)="todoService.presentPopoverPriority($event, todo)">{{priority[todo.prioritaet]}}</ion-badge>
                    <ion-note slot="end">
                        <!-- {{todo.autor.nutzername}} -->
                        {{todo.zeit}} Uhr
                    </ion-note>
                </ion-item>

                <ion-item-options side="start">
                    <ion-item-option (click)="todoService.done(todo)" color="success">
                        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

                <ion-item-options side="end">
                    <ion-item-option (click)="editModal(todo)" color="warning">
                        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-item-option>

                    <ion-item-option (click)="todoService.delete(todo)" color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addModal()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ng-template #empty>
    <ion-item-sliding>
        <ion-item>
            <p>Hier klicken, um ToDo hinzuzufügen.</p>
            <ion-button (click)="addModal()" slot="end">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-item-sliding>
</ng-template>
