<ion-content>

    <ion-item>
        <ion-label>ToDo</ion-label>
        <ion-input type="text" [(ngModel)]="todo.titel"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Beschreibung</ion-label>
        <ion-textarea [(ngModel)]="todo.beschreibung"></ion-textarea>
    </ion-item>


    <ion-button *ngIf="!edit" (click)="todoService.add(todo, autor)">
        <ion-icon name="add-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="edit" (click)="todoService.edit(todo)">
        Speichern
    </ion-button>

</ion-content>
